section.grid {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
  section.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  section.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

